@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|News+Cycle|Pacifico&display=swap");

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
h1 {
  padding-top: 20px;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  font-family: "News Cycle";
  color: white;
}

p:hover {
  color: rgb(38, 133, 125);
}

h4 {
  color: white;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;
  font-family: "News Cycle";
}
.main {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  width: 100vw;
  background-color: rgb(46, 29, 53);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  font-family: "News Cycle";
  font-size: 200%;
}

.log {
  margin-right: 20px;
}

.linkOptions {
  display: flex;
}

.submitLink {
  display: flex;
}

.allOptions {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;

  justify-content: space-between;
}
.linkItems {
  width: 100vw;
  padding: 10px;
}
.linksToShow {
  font-family: "News Cycle";
}
.displayThese {
  display: flex;
}

a:hover {
  color: rgb(38, 133, 125);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 130%;
  }
}
